* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: normal;
}

body {
	background-image: url(../images/skyscraper.jpg);
	background-size: cover;
	background-attachment: fixed;
}

hr {
	border: 1px solid gray;
}

a {
	text-decoration: none;
	color: white;
}

hr {
	color: gray;
}

nav {
	height: 100%;
	width: 25%;
	/*background-color: #373636;*/
	position: fixed;
	left: 0;
	border-right: 2px solid black;
	background: linear-gradient(to bottom right, #6A6A6A, black);
}

.nav-container {
	width: 60%;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
}

.nav-title {
	margin-bottom: 100px;
}

.nav-title > h1 {
	text-align: center;
}

.bold,
.black {
	color: white;
	font-size: 50px;
	margin: -50px; 
}

.and {
	font-size: 80px;
	font-weight: normal;
	margin-right: 40px;
	color: black;

}

.social-icons {
	text-align: center;
	font-size: 13px;
	margin-bottom: 40px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.social-icons > a {
	color: white;
	padding: 10px;
	/*margin-bottom: 40px;*/

}

a[class="fa"] {
}

.social-icons > a:hover {
	color: grey;
}

.nav-links {
	text-align: center;
	margin-bottom: 40px;
}

.nav-links > a {
	margin: 5px;
}

a > div[class*=nav] {
	padding: 5px;
	color: white;
	border: 1px solid transparent;
}

a > div[class*=nav]:hover {
	border: 1px solid white;
}

.nav-container > p {
	text-align: center;
	color: black;
}

.nav-container > p > a {
	color: white;
}

.nav-container > p > a:hover {
	color: gray;
}

header {
	width: 75%;
	margin-left: 25%;
	height: 70px;
	background-color: #373636;
	position: relative;
}

header i {
	float: right;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%);
}

header i:hover {
	color: gray;
}

main {
	width: 75%;
	float: right;
}

main a:hover {
	color: white;
}

article {
	width: 70%;
	float: left;
}

article > section {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 20px;
	padding: 10px;
	border-radius: 20px;
	min-width: 340px;
}

.article-heading {
	margin: 10px;
}

.article-heading > p {
	color: gray;
	word-spacing: 10px;
}

.article-heading i {
	margin-right: 10px;
	color: gray;
}

.article-footer i {
	margin-right: 10px;
	color: gray;
}

.fa-comment {
	margin-left: 10px;
}

.article-heading span {
	color: white;
}

.article-main {
	margin-top: 20px;
}

.article-main > img {
	width: 200px;
	border-radius: 10px;
	border: white;
	float: left;
	margin-right: 10px;
}

.article-main p {
	font-size: 14px;
}

.article-footer {
	color: gray;
	margin-bottom: 10px;
}

.article-footer > a{
	color: gray;
}

.read {
	margin-bottom: 100px;
	margin-bottom: 100px;
}

.read > p {
	overflow: hidden;
	height: 70px;
}

.readmore {
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	width: 100px;
	float: left;
	margin-top: 20px;
	text-align: center;
}

.readmore:hover {
	border: 1px solid gray;
	color: gray;
}

.home-button {
	border: 1px solid gray;
	padding: 10px;
	width: 70px;
	border-radius: 5px;
	margin: 20px 10px;
	text-align: center;
	color: gray;
	background-color: rgba(0, 0, 0, 0.9);
}

.home-button:hover {
	color: white;
}

.subscription {
	width: 200px;
}

.subscription > p {
	margin-left: 10px;
	margin-bottom: 10px;
}

.subscription > p > a {
	color: gray;
}

.subscription > p > a:hover {
	color: white;
}

aside {
	width: 30%;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	float: right;: 
	min-width: 160px;
	padding: 10px;
	margin-top: 20px;
}

.popular-post-section > h3 {
	margin-bottom: 20px;
}

.popular-post-links {
	margin: 10px;
}

.popular-post {
	padding: 10px 0;
}

.popular-post img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.popular-post p:hover {
	color: white;
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}

aside p,a {
	font-size: 14px;
	color: gray;
}

.aside-ad > img {
	width: 92%;
	margin: 10px;
}

.aside-ad:hover {
	opacity: 0.7
}

.pinterest-ad:hover {
	opacity: 0.7
}

.pinterest-ad > img {
	width: 92%;
	margin: 10px;
}

.category-section > h3 {
	margin: 20px 0;
}

.category-links {
	margin: 10px 0;
}

.category-links a {
	border: 1px solid gray;
	border-radius: 10px;
	float: left;
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.9);
}

.category-links a:hover {
	color: white;
}

.related-links {
	margin: 20px 10px;
}

.related-links > h3 {
	margin: 10px 0;
}

.related-links 
> ul 
> li {
	list-style: none;
}

.related-links 
> ul 
> li
> a:hover {
	color: white;
}

.blog-archive-section {
	margin: 20px 10px;
}

.blog-archive-section > h3 {
	margin: 10px 0;
}

.blog-archive-section > select {
	width: 100%;
	height: 40px;
	background-color: black;
}

.blog-archive-section 
> select 
> option {
	color: gray;
}

footer {
	clear: both;
	background-color: #373636;
	width: 100%;
	height: 100px;
	margin-left: 25%;
	padding: 10px;
}

footer > p {
	font-size: 12px;
	color: gray;
}

footer a {
	font-size: 12px;
	color: white;
}

footer a:hover {
	color: gray;
}

footer span {
	color: black;
}




